## Web ingores
# Pls upload no config
web/src/config.php

#leave the data files at home please
data/*
weatherdata/*
Scraper/weatherdata/*

# Package Files #
web/src/logs/*.log
web/src/logs/filtered/*.log

# Package Files #
*.zip
*.tar.gz

# Log files
*.log

# fuck these ever loving fucking class files
*.class
.classpath
.project

# Dont upload the composer stuff #
/web/vendor/

# Maven project cleanup
*.class
Scraper/.settings/
Scraper/target/

# IDEA
.idea
