## Web ingores
# Pls upload no config
web/src/config.php

#leave the data files at home please
data/*

# Package Files #
web/src/logs/*.log
web/src/logs/filtered/*.log

# Package Files #
*.zip
*.tar.gz
*.rar

# Fuck those class files man.
*.class

# Log files
*.log

# fuck these ever loving fucking class files
*.class
.classpath
.project
Scraper/target/


# Dont upload the composer stuff #
/web/vendor/
Scraper/.settings/
